set_var EASYRSA_REQ_COUNTRY "PL"
set_var EASYRSA_REQ_PROVINCE  "Slaskie"
set_var EASYRSA_REQ_CITY  "Tarnowskie Góry"
set_var EASYRSA_REQ_ORG "TeaM-TL CA"
set_var EASYRSA_REQ_EMAIL "ca@team-tl.pl"
set_var EASYRSA_REQ_OU    "CA"

