defaults
    mode                tcp

{% if host_type == "ldap" %}
frontend ldaps
    bind                *:636 ssl crt /etc/pki/{{ansible_hostname}}.pem
    mode                tcp
    option              tcplog
    timeout client      1800s
    default_backend     ldaps_servers

backend ldaps_servers
    mode                tcp
    balance             roundrobin
    option              ssl-hello-chk
    timeout server      1800s
    server              ldap1 192.168.0.167:1636 ssl ca-file /etc/pki/ca.pem check
    server              ldap2 192.168.0.177:1636 ssl ca-file /etc/pki/ca.pem check

frontend ldap
    bind                *:389
    mode                tcp
    option              tcplog
    timeout client      1800s
    default_backend     ldap_servers

backend ldap_servers
    mode                tcp
    balance             roundrobin
    option              ldap-check
    timeout server      1800s
    server              ldap1 192.168.0.167:1389
    server              ldap2 192.168.0.177:1389
{% endif %}

frontend http
backend http_servers

frontend https
backend https_servers

{% if host_type == "ldap" %}
#
{% endif %}
